PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0
Server=127.0.0.1,{{ zabbix_srv }}
ServerActive=127.0.0.1,{{ zabbix_srv }}
Hostname={{ ansible_fqdn }}
Timeout=30
Include=/etc/zabbix/zabbix_agentd.d/*.conf
